[submodule "lessons/demo"]
	path = lessons/demo
	url = https://github.com/srellister/sdev2171demo
[submodule "lessons/lesson01"]
	path = lessons/lesson01
	url = https://github.com/srellister/sdev2171lesson01
[submodule "lessons/lesson02"]
	path = lessons/lesson02
	url = https://github.com/srellister/sdev2171lesson02
[submodule "lessons/lesson03"]
	path = lessons/lesson03
	url = https://github.com/srellister/sdev2171lesson03
[submodule "lessons/lesson04"]
	path = lessons/lesson04
	url = https://github.com/srellister/sdev2171lesson04
[submodule "lessons/as1"]
	path = lessons/as1
	url = https://github.com/srellister/SDEV2171_OE01_Asmnt01_Robert-Elliott_srellister
